---

---
<div class="flex-container-servicio">
      <div>
        <a href="../jardineriaFernando" class="links4servicios">
        <img src="https://st4.depositphotos.com/1017986/39200/i/450/depositphotos_392006782-stock-photo-happy-man-in-apron-at.jpg" alt="Benefit 2" class="imagen-cuadro-servicio">
        <div>
            <p>Jardineria Fernando</p>
            <p>$5000/h</p>
        </div>
        </a>
      </div>
      <div>
        <img src="https://st4.depositphotos.com/1017986/39200/i/450/depositphotos_392006782-stock-photo-happy-man-in-apron-at.jpg" alt="Benefit 2" class="imagen-cuadro-servicio">
        <div>
            <p>Musmani</p>
            <p>$5000/h</p>
        </div>
      </div>
      <div>
        <img src="https://st4.depositphotos.com/1017986/39200/i/450/depositphotos_392006782-stock-photo-happy-man-in-apron-at.jpg" alt="Benefit 2" class="imagen-cuadro-servicio">
        <div>
            <p>Otro otro</p>
            <p>$5000/h</p>
        </div>
      </div>
</div>


<style>
    .links4servicios{
        text-decoration: none;
    }
    .flex-container-servicio {
      display: flex;
      justify-content: space-evenly;
    }
    
    .flex-container-servicio > div {
      width: 200px;
      margin: 10px;
      text-align: center;
      line-height: 30px;
      font-size: 30px;
      border-radius: 12px;
    }

    .imagen-cuadro-servicio{
        max-width: 100%;
        border-radius: 12px;
    }
</style>