---
---
<div class="rating">
    <input type="radio" id="star5" name="rating" value="5">
    <label for="star5"></label>
    <input type="radio" id="star4" name="rating" value="4">
    <label for="star4"></label>
    <input type="radio" id="star3" name="rating" value="3">
    <label for="star3"></label>
    <input type="radio" id="star2" name="rating" value="2">
    <label for="star2"></label>
    <input type="radio" id="star1" name="rating" value="1">
    <label for="star1"></label>
</div>

<style>
    .rating {
  display: inline-block;
}

.rating input {
  display: none;
}

.rating label {
  float: right;
  color: #cacaca;
  font-size: 45px;
  padding: 0;
  cursor: pointer;
}

.rating label:before {
  content: '\2605';
}

.rating input:checked ~ label {
  color: #ffd000;
}

.rating label:hover,
.rating label:hover ~ label {
  color: #ffdd00;
}
</style>