---
const platform:string = "github"
const username:string = "withastro"

---

<footer>
    <h2>Contact information</h2>
    <div>
        <ul>
            <li>
                <a href="https://github.com/AndresV20" target="_blank">GitHub</a>
            </li>
            <li>
                <a href="andres.villalobos@datagrove.com" target="_blank">Email</a>
            </li>
            <li>
                <p>&copy; 2023 Trabajos Que Ayudan. All rights reserved.</p>
            </li>
        </ul>
    </div>
</footer>