---
const pageTitle:string = "TQA"
import NavLines from "./NavLines.astro";
---
<header id="container">
    <h1>{pageTitle}</h1>        
    <!-- <div >
        <div class="menu-icon" id="menu-toggle">
           <button class="nav-icon">
            &#9776;
          </button>
          <a href="#0" class="nav-icon">&#9776;</a>
          <button class="nav-icon hidden">
            &#9932;
          </button> 
          <a href="#0" class="nav-icon hidden">&#9932;</a>
        </div>
      </div> -->
  
        
      <!-- tag before the code and a  -->
      <!-- <input type="button" id="menu-toggle">
      <label for="menu-toggle" class="menu-icon">&#9776;</label> -->
      <!-- <button id="menu-toggle">&#9776;</button> -->
      
    <NavLines />
    <!-- <script src="Jsmain.js"></script> -->
</header>