---
import MobileNav from "./MobileNav.astro";
---
<div class="containerLogoLines">
    <div class="navLines" id="navLines">
        <span class="line"></span>
        <span class="line"></span>
        <span class="line"></span>
        <MobileNav />
    </div>
</div>